body{
    background-color: #638a79;
    background-image: url("img/body-bg.png");
    background-repeat: repeat-x;
    background-position: fixed;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 780px;
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    top: 100px;
    margin: auto;
    overflow: hidden;
}

.content .content-top {
    height: 12px;
    width: 840px;
    background-image: url(img/content-bg.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

.content .content-bottom {
    height: 12px;
    width: 1680px;
    background-image: url(img/content-bg.png);
    position: absolute;
    right: 0;
    bottom: 0;
}

.content .content-middle {
    /* padding: 20px 30px; */
}
	
h1 {
    font-size: 26px;
    line-height: 36px;
    color: #2b8c57;
    font-weight: normal;
    margin-bottom: 10px;

}
h2 { 
    font-size: 18px;
    line-height: 28px;
    color: #2b8c57;
    font-weight: normal;
    font-style: italic;
    margin: 30px 0 15px 0;
}
	
div.block-1 {
    color:#ffffff;
    font-style: italic;
    font-size: 12px;
    padding: 20px 30px;
    background-image: url(img/block-1-bg.png); 
    background-repeat: repeat-x;
    background-color: #2b8c57;


}
div.block-2 {
    background-color: #356149;
    background-image: url(img/picture-1.png);
    background-repeat: no-repeat;
    background-position: right;
    color: #ffffff;
    font-style: italic;
    font-size: 12px;
    padding: 20px 30px;
    background-position: bottom right;
}

a.button {
    background-image: url(img/button-1.png);
    background-repeat: no-repeat;
    display: block;
    width: 121px;
    height: 38px;
    text-decoration: none;
    background-position: 0 0; 

}
a.button:hover {
    background-position: 0 -38px; 
}
a.button:active {
    background-position: 0 -76px; 
}
